.container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#d8e5e8
    /* // #d8e5e8; */
    
}

.login-container {
    display: flex;
    width: 100%;
    max-width: 900px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.image-container {
    flex: 1;
    background: url('../../../assets/bg.jpeg') no-repeat center center;
    background-size: cover;
    border-radius: 5px 0 0 5px;
}

.form-container {
    flex: 1;
    padding: 20px;
}

.header {
    text-align: center;
    color: #343a40;
        margin-bottom: 20px;
}

.form-group {
    position: relative;
    margin-bottom: 1rem;
    height: 80px;
}
.btn-primary {
    background-color: #343a40;
     width: 100%;
}
.task-manager-header {
    margin-bottom: 20px;
    text-align: center;
}
.error-message {
    color: red;
    font-size: 0.875rem;
    position: absolute;
   
    margin-top: 0.25rem;
}