.board {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #1c1c1c;
    /* Dark background for the task board */
    height: 100vh;
    /* Full viewport height */
    overflow-x: auto;
}

.column {
    background-color: #2c3e50;
    color: #ecf0f1;
    border-radius: 8px;
    padding: 16px;
    width: 24%;
    margin: 0 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 80vh;
    overflow-y: auto;
}

.columnTitle {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #3498db;
    text-align: center;
    /* Blue color for column titles */
}

.taskCard {
    background-color: #34495e;
    /* Slightly lighter blue for task cards */
    color: #ecf0f1;
    /* Light text color */
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.2s ease;
}

.taskCard:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.taskHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.columnTitleContainer {
    display: flex;
    justify-content: space-between;
    /* Space between title and icon */
    align-items: center;
    /* Vertically center items */
    margin-bottom: 10px;
}

.columnTitle {
    font-size: 1.5em;
    color: #3498db;
    /* Blue color for column titles */
}

.addTaskIcon {
    font-size: 1.5em;
    color: #2ecc71;
    /* Green color for add task icon */
    cursor: pointer;
    transition: color 0.2s ease;
}

.addTaskIcon:hover {
    color: #27ae60;
}

.iconContainer {
    display: flex;
    gap: 10px;
    /* Space between icons */
}

.editIcon,
.deleteIcon {
    font-size: 1.2em;
    cursor: pointer;
    transition: color 0.2s ease;
}

.editIcon {
    color: #3498db;
    /* Blue color for edit icon */
}

.editIcon:hover {
    color: #2980b9;
}

.deleteIcon {
    color: #e74c3c;
    /* Red color for delete icon */
}

.deleteIcon:hover {
    color: #c0392b;
}

.taskDescription {
    font-size: 1em;
    margin: 12px 0;
}

.taskDetails {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;

    font-size: 0.9em;
}

.taskPriority {
    color: #3cbce7;
    /* Red color for priority */
}

.taskDeadline {
    color: #db7134;
}
.complete-status {
    font-size: medium;
    color: #0ffe17;
}
.inprogress-status {
    color: #e6ab46;
}
.under-review-status {
    color: #14b8ad;
}
.to-do-status {
    color: #b84314;
}
.taskDeadline {
    color: #ededed;
    /* Example color for deadline */
}
.dragging {
    opacity: 0.5;
}
.apiError {
    color: rgb(254, 248, 248);
    text-align: center;
    font-size: 1.2rem;
    margin-top: 20px;
}
.date-picker {
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
}