.date-picker {
    padding: 0.375rem 0.75rem;
    /* Adjust padding */
    border-radius: 0.25rem;
    /* Match Bootstrap input */
    border: 1px solid #ced4da;
    /* Match Bootstrap input border */
}
.addtask-btn-container{
    display: flex;
    justify-content:center ;
   padding: 10px 0 10px 0;
}
.addtask-btn{
    text-align: center;
}
.error-message {
    color: red;
    font-size: 0.7rem;
}
.form-group {
    position: relative;
    margin-bottom:10px;
    height: 80px;
    display: flex;
    flex-direction: column;
}
.modal-content{
    background-color:#ffffff;
    color: #2e3338;
}
.modal-header{
    background-color: #435e76;
    color: #ffffff;
}
.btn-close{
    color: rgb(103, 133, 165);
    /* background-color: white; */
    border: 1px solid white;
}